/* Base HTML Setup */
html, body, #root {
  height: 100%;
}

body {
  @apply text-gray-900 font-sans;
  background-image: url("");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(17, 24, 39);
}
